$bg-header: url("assets/bg-header.jpg");

// Fonts
$montserrat: 'Montserrat', sans-serif;
$leckerli: 'Leckerli One', cursive;
$cambay: 'Cambay', sans-serif;
$coustard: 'Coustard', serif;

// Nav Color
$default : #FFFFFF;
$active  : #8799A3;
$btn-yellow: #FFFF00;

// Header Color
$default : #FFFFFF;
$blue: #0081FF;
$gray-text: #636363;
$black:    #000000;

// About
$blue: #0081FF;
$bg-blue-2: #007af2;