$bg-header: url("assets/bg-header.jpg");

// Fonts
$montserrat: 'Montserrat', sans-serif;
$leckerli: 'Leckerli One', cursive;
$cambay: 'Cambay', sans-serif;
$coustard: 'Coustard', serif;

// Nav Color
$default : #FFFFFF;
$active  : #8799A3;
$btn-yellow: #FFFF00;

// Header Color
$default : #FFFFFF;
$highling: #0081FF;
$text:     #636363;
$black:    #000000;


#header {
    background-image: $bg-header;
    background-position-x: -300px;
    background-position-y: -130px;
    height: 1000px;
    font-family: $montserrat;
}

.highlight {
    background-color: rgba(37, 37, 37, 0.6);
    height: 100%;
}

#header nav ul li a {
    color: $default;
    font-size: 17px;
}

#top-nav nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li { display: inline-block; }

    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
    }
}

#top-nav {
    padding-top: 30px;
}

.btn-yellow{
    border-radius: 25px;
    padding: 10px 40px;
    border: 2px solid $btn-yellow;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: $btn-yellow;
    box-shadow: 0px 10px 30px 0px rgba(254,203,22,0.5);
}

#hero-header {
    margin-top: 250px;
    width: 570px;
}

.say-hi {
    color: $default;
    font-family: $leckerli;
    font-weight: normal;
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 18px;
}

.introduce {
    color: $default;
    font-size: 60px;
    font-weight: 900;
    line-height: 65px;
    color: $default;
    margin-bottom: 18px;
}
.name {
    color: $highling;
}

.his-job {
    color: $default;
    font-weight: 100;
    font-size: 40px;
    line-height: 45px;
    color: $default;
    margin-bottom: 28px;
}

.desc-hero {
    color: $text;
    font-size: 24px;
}

#hero-header button{
    background-color: #2b2b2b;
    border: none;
    font-size: 13px;
    padding: 5px 45px;
    margin-top: 5px;
    line-height: 50px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
}